@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
    background: grey;
    color: wheat;
}

p.main-text {
    color: whitesmoke;
    text-align: justify;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    text-transform: lowercase;
    line-height: 50px;
    word-spacing: 15px;
    letter-spacing: 2px;
    font-family: 'Lilita One';
}

p.main-text > b {
    font-style: normal;
    font-weight: lighter;
    text-decoration: underline;
    text-decoration-color: red;
    color: red;
    cursor: pointer;
}